# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Learning APL
author: Stefan Kruger, Computational Array and Magic
logo: logo2.png

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  timeout: 120
  # execute_notebooks: force
  execute_notebooks: cache

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Information about where the book exists on the web
repository:
  url: https://github.com/executablebooks/jupyter-book  # Online location of your book
  path_to_book: docs  # Optional path to your book, relative to the repository root
  branch: master  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true


launch_buttons:
    binderhub_url: ""
    colab_url: ""

sphinx:
    config:
        html_show_copyright: false
