@font-face {
    font-family: "codefont";
    src: local("APL385 Unicode"),
         url(APL385.ttf) format("truetype");
}

/* Use the code font where relevant. */
 t, code, kbd, samp, pre, .output.text_html span {
    font-family: codefont!important
}

/* Reduce excessive line height in code outputs */
.output.text_html {
    line-height: 1.1em;
}

/* Reduce excessive whitespace in tables */
.table td, .table th {
    padding: 0.4rem;
}

.table td p, .table th p {
    margin: 0;
}
